#redis多数据源配置示例
spring:
  redis:
    #指定redis客户端类型，可选值为枚举lettuce/jedis，指定后
    client-type: lettuce
    host: 192.168.9.77
    port: 6379
#    username: xxx
#    password: xxx
    connect-timeout: 3000
    ssl: false
    timeout: 3000
    jedis:
      pool:
        enabled: false
        max-active: 10
        max-idle: 5
        min-idle: 1
        max-wait: 5000
        time-between-eviction-runs: 1000
    lettuce:
      pool:
        enabled: false
        max-active: 10
        max-idle: 5
        min-idle: 1
        max-wait: 5000
        time-between-eviction-runs: 1000
      cluster:
        refresh:
          dynamic-refresh-sources: true
          adaptive: true
          period: 1000
    custom:
      - redis-key: cus1
        redis-type: standalone
        host: 192.168.9.77
        port: 6379
      - redis-key: cus2
        redis-type: cluster
        cluster:
          nodes: 192.168.22.21:6379,192.168.22.22:6379,192.168.22.23:6379
          max-redirects: 2